$settings-offcanvas-width: 250px;

$settings-logo-image: "../img/logo.png";
$settings-logo-width: 100%;
$settings-logo-height: 60px;

$settings-monospace-font: Monaco, "Lucida Console", "Bitstream Vera Sans Mono", monospace;

$settings-spinner-bg: #4b4d4e;
$settings-spinner-fg: #86c85e;
$settings-spinner-initial-value: 0s;
$settings-spinner-jump: 0.13s;
$settings-spinner-size: 128px;
$settings-spinner-circle-size: 23px;

$settings-box-bg: #3f3f3f;
$settings-box-border: #595b5b;

$settings-content-color: #c6c8c8;
$settings-monospace-color: rgb(146, 206, 134);
$settings-link-color: #c2c2c2;
$settings-code-bg: #585858;
$settings-list-item-bg: #454646;

$settings-offcanvas-bg: #454646;
$settings-offcanvas-border: #363636;

$settings-offcanvas-animation-time: .6s;
$settings-list-animation-time: .3s;
$settings-page-animation-time: .1s;